/* dashboard.css */

.dashboard {
    background-color: lightblue;
    color: white;
  }
  
  .welcome-text {
    font-size: 2em;
  }
  
  .management {
    display: flex;
    justify-content: space-around;
  }
  
  .manage-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: darkblue;
    padding: 20px;
    border-radius: 5px;
  }
  
  .manage-item:hover {
    background-color: lightcoral;
  }
  
  .icon {
    margin-left: 10px;
  }

  @media screen and (max-width:800px) {
        .management{
            display: block;
        }

        .manage-item{
            margin-bottom: 10px;
        }
  }
  