/* mobileHeader.css */

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white; /* Sidebar background color, adjust as needed */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .mobile-sideBar {
    display: flex;
    flex-direction: column;
    width: 33.33%; /* 1/3 of the screen */
  }
  
  .category-link {
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: -15;
    width: 100%;
    z-index: 100;
  }
  
  .nested-dropdown {
    margin-left: 10px;
  }
  
  .mobile-sideBar a {
   /* Text color for navigation links, adjust as needed */
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .mobile-sideBar a:hover {
    background-color: #555; /* Adjust as needed for hover effect */
  }
  
  /* Additional styles for better visibility */
  .mobile-sideBar a:last-child {
    border-bottom: none; /* Remove border-bottom for the last link */
  }
  
  @media screen and (max-width: 800px) {
    .mobile-sideBar {
      width: 100%;
      display: flex;
    }
  }
  